/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

main {
  width: 90%;
  margin: 5% 5%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.container {
  display: grid;
  grid-gap: 20px;
  /* border: 10px solid red; */
}

main img {
  /* border: 3px dotted black; */
  grid-column: auto;
  grid-row: auto;
  height: 360px;

}
