/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* CENTER LAYOUT
/*******************************************/

main {
  width: 80%;
  margin: 5% 10%;
  text-align: center;
}
/******************************************
/* RESULT STYLE
/*******************************************/

#result {
  height: 10%;
  width: 100%;
  background: black;
  color: white;
  text-align: right;
  padding: 2% 5%;
}
/******************************************
/* BUTTON STYLES
/*******************************************/

button {
  height: 5%;
  padding: 5%;
  background: navy;
  color: white;
}

ul {
  list-style: none;
  padding: 1%;
}

ul li button {
  float: left;
  width: 33.33%;
}

#zero {
  width: 66.66%;
}

#actions button {
  margin-top: 5%;
  float: left;
  width: 20%;
}

/******************************************
/* DESKTOP LAYOUT
/*******************************************/

@media (min-width: 768px) {
  main {
    font-size: larger;
  }

  button {
    font-size: larger;
  }
}
